@import "tailwindcss";

html,
body {
  max-height: 100%;
  margin: 0;
}

#root {
  max-width: 100vw;
  overflow-x: hidden;
}

/* TopBar Styles */
.topbar {
  z-index: 1000 !important;
}

.bg-summit {
  --tw-bg-opacity: 1;
  background-color: rgba(29, 54, 101, var(--tw-bg-opacity));
}

.swiper-pagination-bullet {
  background: #4f46e5 !important;
  opacity: 0.4;
}

.swiper-pagination-bullet-active {
  background: #4f46e5 !important;
  opacity: 1;
}

.swiper-button-prev,
.swiper-button-next {
  color: #4f46e5 !important;
}
