.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #100e0e;
  padding: 1rem 2rem;
}
.navbar__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  margin-right: 480px;
}
.navbar__icon {
  max-width: 100px;
  max-height: 100px;
  margin-right: 8px;
}
.navbar__brand {
  color: #efbf04;
  font-size: 1.5rem;
  text-decoration: none;
}
.navbar__links {
  display: flex;
  list-style: none;
  gap: 2rem;
  margin-right: 0px;
  padding:20px;

}
.navbar__links a {
  color: #efbf04;
  text-decoration: none;
  font-size: 1.5rem;
  margin-right: 0px;
  padding: 0px;
  
}
.navbar__signin {
  background-color: #efbf04;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  cursor: pointer;
  color: #100e0e;
  margin-left: 1rem;
}
